<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912435335334-g6bjcfgccmg774ik8h0kdg5a0rvp6tgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912435335334-g6bjcfgccmg774ik8h0kdg5a0rvp6tgv</string>
	<key>API_KEY</key>
	<string>AIzaSyDEK8UFD4i3wgbbx7MnjIPJN_bErLNwfzU</string>
	<key>GCM_SENDER_ID</key>
	<string>912435335334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.standUp</string>
	<key>PROJECT_ID</key>
	<string>stand-up-a955f</string>
	<key>STORAGE_BUCKET</key>
	<string>stand-up-a955f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912435335334:ios:51bbc5ff172e5e63462467</string>
</dict>
</plist>